@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 100%;
    background: url(walkinguphill.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.navigationMenu{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    align-items: center;
    font-weight: 700;
    width:100%;
    height:20%;
    user-select: none;
   

}
.navigationMenu > ol{
    list-style: none;
}


.option{

    background-color: rgb(213, 214, 132);
    width:10%;
    height:10%;
/*     box-shadow: 5px 10px  rgba(0, 0, 0, 0.618); */
    border-radius:1em;
    margin:0.5%;
    font-size:100%;
    padding:1%;
    text-align: center;
    border:.1rem solid white;
}
.option:hover{
    background-color: rgb(133, 135, 60);
    box-shadow: 5px 10px  rgba(0, 0, 0, 0.223);

}
.wrapper{
    display:flex;
    width:100%;
    height:100%;
    flex-direction: column;
}

#rubrikhorses{
    position: absolute;
    top:16%;
    width:95%;
    left:0;
    margin-left:auto;
    margin-right:auto;
    right:0;
    text-align:center;
    height:90%;
    border:0.2em double rgb(255, 255, 255);
   
}
.rubrik{
    display:flex;
    width:100%;
    margin-top:1%;
    font-size:200%;
    font-weight:500;
    border-bottom:double .4rem rgb(8, 8, 8);
    font-family: 'Noto Serif Georgian', serif;
    justify-content: center;
    color:#1c1c12f3;
}
.flexContainer {
    display: flex;
    width:90%;
    height: 50;
    margin-top:2%;

    flex-direction: row;
    align-self: center;

}
.flexContainer2 {
    display: flex;
    width:90%;
    margin-top:2%;
    flex-direction: row;
    align-self: center;

}

.horseCard {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width:100%;
    margin-left:0.5%;
    margin-right:0.5%;
    font-family: 'Combo', cursive;
    font-size:95%;
    border-radius: 0.5rem;
    background-color: rgb(252, 253, 193);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
    border:.1rem solid white;
   
}
.horseCard2{
    display:flex;
    margin-left:0.5%;
    margin-right:0.5%;
    flex-direction: column;
    align-items: center;
    font-family: 'Combo', cursive;
    height:100%;
    width:100%;
    font-size:95%;
    border-radius: 0.5rem;
    background-color: rgb(252, 253, 193);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
}

.horseCard2 > img{
    padding-top:5%;
    width:90%;
    height: 60%;


} 

.horseCard > img{
    padding-top:5%;
    width:90%;
    height: 60%;
}


.horseCard > p{
    margin: .4rem 0 0 0;
    text-align: center;

    
}
.horseCard > small{
    text-align:center;
    margin:.2rem 0 0 0;
    

}
.horseCard2 > p{
    margin: .4rem 0 0 0;
    text-align:center;
    
    
}
.horseCard2 > small{
    text-align:center;
    margin:.2rem 0 0 0;
    

}



/*Animation horse running*/
.animationhorse{
    margin-top:1%;
    display:flex;
    width:100%;
    height:20%;
    justify-content: center;
    align-items: center;
    animation: curtain 10s 1s 10 left;

    
}
#animation{
    width:8%;
}



@media only screen and (max-width: 700px) {
    
    .wrapper{
            height:100%;

    }
      .flexContainer{
        flex-direction: column;
       

      }
      .flexContainer2{
        flex-direction: column;

  
      }
    .option{
        font-size:10%;
        padding:6%;
       
    }

    .horseCard,.horseCard2{
        margin:1%;
    }
    #rubrikhorses{
        border:none;
    }
    
}
@media only screen and (max-height: 700px){

    #rubrikhorses{
        border:none;
    }

    }

    












